

h1 {
    text-align: center;
    color: rgb(15, 1, 1);
    font-family: "McLaren", cursive;
    font-weight: 200;
    padding: 15px;
  }

  
  input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(190, 146, 0, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgb(14, 3, 3);
    font-weight: 300;
  }
  
  button {
    text-align: center;
    appearance: none;
    outline: 0;
    background-color: #f5ba13;
    border: 0;
    padding: 10px 15px;
    color: white ;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }

  form {
    text-align: center;
    
    
  }
  ::placeholder{
    color: rgb(0, 6, 8);
  }